body{
    background-image: url("./assets//images//background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        scroll-behavior:smooth;
}

